@{
    ViewBag.Title = "Home page";
}

<div class="text-left">
    <h2>Calc Service Demonstration</h2>
    <ul>
        <li><a asp-controller="CalcService" asp-action="ModelCalc">Using Model Calc</a></li>
        <li><a asp-controller="CalcService" asp-action="ViewDataCalc">Using ViewData Calc</a></li>
        <li><a asp-controller="CalcService" asp-action="ViewBagCalc">Using ViewBag Calc</a></li>
        <li><a asp-controller="CalcService" asp-action="ServiceInjectionCalc">Using Service Injection Calc</a></li>
    </li>
    </ul>
</div>
